.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.line {
  flex: 1;            
  height: 1px;
  background-color: #dbdbdb;
}

.text {
  margin: 0 16px; 
  font-size: 12px;
  color: #8e8e8e;
  font-weight: 600;
}
