.input {
  width: 100%;
  height: 38px;
  padding: 9px 10px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background: #fafafa;
  font-size: 12px;
  color: #262626;
  outline: none;
}

.input:focus {
  border-color: #a8a8a8;
}
